<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>mymaven</display-name>
	<welcome-file-list>
		<welcome-file>index7.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置Spring配置文件的位置 -->
	<context-param>
	<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		<!-- 使用Spring中的过滤器解决在请求和应答中的中文乱码问题(不是为了初始化每个jsp页面) -->  
    <filter>  
        <filter-name>characterEncodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>UTF-8</param-value>  
        </init-param>  
        <!--强制转换编码(request和response均适用)
        <init-param>  
            <param-name>ForceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>  
         -->
    </filter>  
    <filter-mapping>  
        <filter-name>characterEncodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>
	<!-- 配置Spring的用于解决懒加载问题的过滤器    本项目不需要，能不用则不用-->
	<!-- 解决Hibernate的延迟加载造成的Session提前关闭问题，设置该项使Session保持Request请求完成才关闭Session -->
	<!-- singleSession默认为true,若设为false则等于没用OpenSessionInView 。所以默认可以不写  
   <filter> 
	   <filter-name>OpenSessionInViewFilter</filter-name> 
	   <filter-class>   
	    	org.springframework.orm.hibernate4.support.OpenSessionInViewFilter 
	   </filter-class> 
	     <init-param>  
	       <param-name>singleSession</param-name>  
	       <param-value>true</param-value>   
	     </init-param>   
		 <init-param>  
		     <param-name>sessionFactoryBean</param-name>  
		   <param-value>sessionFactory</param-value>  
		 </init-param>
		 <init-param>     
			 <param-name>flushMode</param-name>      
			 <param-value>AUTO</param-value>      
		 </init-param>
    </filter> 
	<filter-mapping>  
     	<filter-name>OpenSessionInViewFilter</filter-name>  
     	<url-pattern>/*</url-pattern>  
	</filter-mapping> 
	-->
  	<!-- 定义Struts 2的核心Filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<!-- 让Struts 2的核心Filter拦截所有请求 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>